<div class="row" id="pin_show">
  <div class="col-lg-8 col-md-offset-2">
    <div class="card panel-default">
      <div class="card-header pin_image">
        <%= image_tag @pin.image.url %>
      </div>
      <div class="card-block">
        <h1>
          <%= @pin.title %>
        </h1>
        <p class="description">
          <%= @pin.description %>
        </p>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-lg-6">
            <p class="user">
              Submitted by
              <%= @pin.user.email %>
            </p>
          </div>
          <div class="col-lg-6">
            <div class="btn-group pull-right">
			    <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-secondary" do %>
			      <i class="fa fa-heart"></i>
			      <%= @pin.get_upvotes.size %>
			    <% end %>
              <% if user_signed_in? %>
                <%= link_to "Edit", edit_pin_path, class: "btn btn-secondary" %>
                <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>